{{template "base" .}}
{{define "content"}}
    <h1> Welcome Yerkebulan</h1>
    <h1> Welcome Malikomar</h1>
        
        <img src="/static/images/modern-house.jpg "height="100" width="500">
        
{{end}}